<main class="main-content">
    <div class="listing">
        <div class="listing__head">
            <h3 class="listing__title">TV Shows</h3>
        </div>

        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control searchdesign" placeholder="Search for a movie"
                                #searchMovie>
                            <span class="input-group-btn">
                                <button class="btn btn-primary btnDesign" type="button"
                                    (click)="onSearchMovie()">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <app-skeleton *ngIf="isLoading"></app-skeleton>
        <div *ngIf="!isLoading" class="row">
            <div class="col-md-3 listing__items" *ngFor="let movie of displayedMovies | slice:0:4">
                <div [routerLink]="['/movie-detail/', movie.imdbID]">
                    <div class="listing-item-style">
                        <img *ngIf="movie?.posterUrl"
                            src="{{movie?.posterUrl !== 'N/A' ? movie?.posterUrl : 'assets/images/default-movie.png'}}"
                            [alt]="movie.title">
                        <h6>{{ movie?.title }}</h6>
                        <p class="rate">{{movie?.type}}</p>
                        <p class="year"><span>{{movie?.yearReleased}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-paginator *ngIf="moviesFound.length && moviesFound.length > 4" [length]="moviesFound.length" [pageSize]="4"
        (page)="changePage($event)"></mat-paginator>
</main>