@import '../../../../assets/styles/variables';

.main-content {
    padding: 20px;
    background-color: #141414;
    color: $text-color-white;
}

mat-paginator{
    background: #212121;
}

mat-paginator{
    color: #fff;
}

.searchdesign{
    height: 44px;
    background: #212121;
    border: 1px solid #716e6e;
    color: #fff;
    font-size: 15px;
}


img {

    @media (min-width: $breakpoint-medium) {
        height: 400px !important;
    }

    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium - 1) {
        height: 300px !important;    
    }
}